body{
    background-color: rgba(30,25,25,80);
}
#container{
    /* background-color: yellow; */
    text-align: center;
    position: relative;
    margin : 10% auto;
    height: 600px;
    width : 600px;
}
#slideshowcontainer{
    /* background-color: white; */
    text-align: center;
    height: 600px;
    width: 600px;
    margin: 0 auto;
    position: absolute;
}
#inputcontainer{
    height: 600px;
    width: 600px;
    background-color: rgba(30,25,25,80);
    position: absolute;
}
#clickplay{
    border: 1px white solid;
    position: absolute;
    top: 550px;
    left: 100px;
    font-size: 20px;
}
#reset{
    border: 1px white solid;
    position: absolute;
    top: 550px;
    left: 400px;
    font-size: 20px;
}
#slideshowcontainer{
    
}
input{
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    text-align: center;
    background-color: transparent;
    margin-top: 250px;
    color: #ffffff;
    font-size: 20px;
}
button{
    font-size: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff
}

button:hover{
    cursor: pointer;
}

img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#imgbox{
    
    width: 600px;
    height: 500px;
}